:global {
    .main-container {
        margin: 0 auto;
        margin-top: 120px; 
        height: 50px;
        width: 960px;
        font-size: 1.16rem;
    }
    .maincontainer-nav {
        display: flex;
        justify-content: space-between;
        width: 700px;
        height: 50px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
        background: #fff;
        margin-right: 260px;
    }
    .maincontainer-nav-left {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .maincontainer-nav-avatar {
        background: #e9c984;
        height: 50px;
        width: 50px;
    }
    .maintainer-nav-item {
        img {
            margin-right: 5px;
        }
        color: #007fff;
        display: flex;
        align-items: center;
        padding: 0 18px;
    }
    .maincontainer-nav-draft {
        height: inherit;
        display: flex;
        align-items: center;
        margin-right: 20px;
        cursor: pointer;
        color: #909090;
    }
    .maincontainer-header {
        margin-top: 15.6px;
        margin-right: 260px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    }
}