:global {
  .articleitem-container {
    width: 960px;
    :hover {
      background: #FBFCFB;
      cursor: pointer;
    }
  }
  .articleitem-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 82px;
    width: 652px;
    padding: 18px 24px;
    background: white;
    border: 1px solid #F3F5F4;
  }
  .articleitem-infobox {
    width: 568px;
  }
  .articleitem-metaList {
    li {
      display: inline;
      list-style: none;
      color: #909090;
      &:hover {
        color: #007fff;
      }
    }
  }
  .articleitem-column {
    margin-right: 5px;
    font-weight: 500;
    color: #b71ed7;
  }
  .articleitem-title {
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    color: #2e3135;
    &:hover {
      text-decoration: underline;
    }
    &.clicked {
      color: #909090;
    }
  }
  .articleitem-buttons {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 14px;
    height: 26px;
    .articleitem-buttons-count {
      margin-left: 3px;
    }
    .active {
      color: #6cbd45;
    }
  }
  .articleitem-button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 50px;
    border: 1px solid #edeeef;
    color: #b2bac2;
    &:hover {
      background: #dcdee0;
    }
  }
  .articleitem-button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 50px;
    border-right: 1px solid #edeeef;
    border-top: 1px solid #edeeef;
    border-bottom: 1px solid #edeeef;
    color: #b2bac2;
    &:hover {
      background: #dcdee0;
    }
  }
  .article-img {
    height: 60px;
    width: 60px;
    margin-left: 24px;
  }
}